//Colors
$primaryDarker: #758f2a;
$primaryDark: #89a240;
$primaryMed: #acc85c;
$primaryLight: #cae47e;

$grayLight: #f4f3f2;
$grayDark: #8d8786;
$grayMed: #d1cfcf;

$white: #ffffff;
$whitish: #f9f9f9;

$black: #262424;
$blackest: #000000;

$secondary: #72a1d8;
$secondary-dark: #4576af;

$error: #ce665f;
$error-dark: #b44038;

$transparentColor: rgba(255, 255, 255, 0);


//Dimentions
$header-height: 4em;
$header-height-mobile: 3em;
$sidebar-width: 15em;
